body {
    /*background: rgb(2, 0, 36);
    background: linear-gradient(351deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 1%, rgba(2, 165, 224, 1) 25%, rgba(131, 225, 251, 1) 89%, rgba(0, 212, 255, 1) 100%);
    */
    background: rgb(182, 246, 240);
    background: radial-gradient(circle, rgba(182, 246, 240, 1) 0%, rgba(231, 245, 242, 1) 100%);
    color: azure;
}

a {
    color: azure;
}


/*
.btn-menu {
    margin-left: 50%;
    background-color: rgb(2, 0, 36);
    color: azure;
    border: 2px solid azure;
    border-radius: 8px;
    padding: 10px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
}

.btn-menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 24px;
    color: azure;
    display: block;
    transform: 0.3s;
}

.btn-menu a:hover,
.btn-menu a:focus {
    background-color: rgb(2, 0, 36);
    color: azure;
    font-weight: bold;
}

*/

.menu {
    width: 100%;
    height: 50pt;
}

.header-nav {
    background-color: white;
    width: 65%;
    height: 500pt;
    align-content: center;
    border-radius: 20px;
    margin: auto;
}

.first-nav {
    background-color: #7fe8de;
    width: 50%;
    height: 500pt;
    float: left;
    border-radius: 20px 0 0 20px;
    box-shadow: 0 0 32px 0 #bcc9c8;
}

.second-nav {
    width: 50%;
    height: 500pt;
    float: right;
    /* kiriatas kananatas */
}

.biodata {
    color: gray;
    font-size: 24pt;
}